@if(error()){
<p>{{error()}}</p>
}
@else {

<mat-card class="min-w-sm max-w-1/2 mx-auto">
  @if(customer()){
    <app-customer-profile [customer]="customer() ?? undefined" [customerForm] ="customerForm" />
  }
  <!-- Pet -->
  @if(customer()?.pets){
    <mat-card-header>
      <mat-card-subtitle>My pets: </mat-card-subtitle>
    </mat-card-header>
  <mat-card-content class="mt-4 border-t-1">
    
    <div class="flex gap-4">
      @for(pet of customer()?.pets; track pet.id; ; let i = $index){
      <app-pet-profile [pet] ="pet" (deletedPet)="onDeletedPet($event)" />
      }
    </div>
    <div> <button matButton (click)="addPet()">Add pet</button></div>
        
   
    
  </mat-card-content>

  }
  @else {
  <mat-card-subtitle>Currently no pet: Please add your pet.</mat-card-subtitle>
  <button matButton (click)="addPet()">Add pet</button>
  }
  


</mat-card>

}