<div class="planning flex flex-col gap-4">
  <!-- Weeks -->
  @for (week of activities| keyvalue;  track week) {
     <h2>{{week.key}}</h2>
    <div class="grid grid-cols-7">
     
      <!-- Days of the week -->
      
       @for (day of week.value| keyvalue;  track day;) {
         <section [class]="'planning_day px-4' + (!$last ? ' border-r border-gray-400' : '')">
          <header class="mb-4 text-center">
            <h4>{{day.key | date:"'EEEE - MMMM dd" }}</h4>
          </header>
         
          @for (activity of day.value;  track activity.id) {
            <div class="mb-4">
             <app-activity [activity]="activity" [pets]="customer()?.pets" />
            </div>
          }
         </section>
       }
      </div>
    
  }
</div>
